<nav class="navbar navbar-expand-lg">
    <div class="container">
        <!-- Логотип и бренд - слева -->
        <a class="navbar-brand" href="/">
            <i class="fi-rr-layout-fluid me-2"></i>FlatCMS
        </a>

        <!-- Правая часть - только аватар пользователя -->
        <div class="navbar-nav">
            <div class="nav-item dropdown header-user-dropdown">
                <a class="nav-link p-0" href="#" role="button" data-bs-toggle="dropdown">
                    <img src="https://gravatar.com/avatar/4474ca42d303761c2901fa819c4f2547"
                         alt="Аватар" class="header-user-avatar">
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                        <a class="dropdown-item" href="/profile">
                            <i class="fi-rr-user me-2"></i>Профиль
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/settings">
                            <i class="fi-rr-settings me-2"></i>Настройки
                        </a>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <a class="dropdown-item" href="/logout">
                            <i class="fi-rr-exit me-2"></i>Выйти
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>