body {
    font-family: 'Inter', sans-serif;
}
.container {


    display: flex;
    flex-direction: column;
    min-height: 10vh;

}
.header {
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;

}
.nav {
    display: flex;
    justify-content: space-around;
    padding: 0.5em;
    background-color: #d7d5d5;
}
.nav a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.sidebar {
    width: 20%;
    padding: 1em;
    background-color: #f9f9f9;

}
.sidebar ul {
    list-style: none;
    padding-left: 0px;
}
.sidebar a {
    text-decoration: none;
    text-align: left;

}
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    flex-shrink: 0;
}
